
<div class="container">
  

    <form (ngSubmit)="saveAttendance()">
        <h2 class="title">Asiste a tu evento</h2>
    
        <label >Documento</label>
        <input type="number" placeholder="ingrese el documento"  [(ngModel)] = "idAprendiz" name="idAprendiz">
        <label>Codigo Del Evento</label>
        <input type="number" placeholder="ingrese el codigo del evento" [(ngModel)] = "idEvent" name="idEvent">
        <button type="submit" >asistir</button>

    </form>
    <button [routerLink]="['registerresponsible']">prueba</button>


</div>
   
