<div class="title">
	<h1>Lista Responsable</h1>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
	

	<table class="table table-bordered table-striped mb-0">
	  <thead>
		<tr>
			<th scope="col"  >Document</th>
			<th scope="col">Nombre</th>
			<th scope="col"  >Correo</th>
			<th scope="col" >Curso Asosiado</th>
			<th scope="col" >Editar</th>
			<th scope="col" >Eliminar</th>
		</tr>
	  </thead>
		<tbody *ngIf="  responsible.length != 0">
			<tr *ngFor="let responsibles of responsible">
				<td>{{responsibles.document}}</td>
				<td>{{responsibles.full_name}}</td>
				<td>{{responsibles.email}}</td>
				<td>{{responsibles.associated}}</td>
				<td><button routerLink="/updateresponsible/{{responsibles.id}}" class="button_one">Editar<span></span></button></td>
				<td><button (click)="borrar(responsibles.id)" class="button_tow">Eliminar<span></span></button></td>
				
			</tr>
		</tbody>
	</table>
	<div class="algo" *ngIf="responsible && responsible.length == 0" #alertavacio>
		<p>no hay ningun Responsable registrado</p>
	</div>
	
</div>