<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">id</th>
			<th scope="col" sortable="name" >nombre</th>
			<th scope="col" sortable="area" >document</th>
			<th scope="col" sortable="population" >correo</th>
            <th scope="col" sortable="population" >curso</th>
			<th scope="col" sortable="population" >Editar</th>
			<th scope="col" sortable="population" >Eliminar</th>
		</tr>
	</thead>
	<tbody *ngIf="  Aprendiz.length != 0">
		<tr *ngFor="let Aprendices of Aprendiz">
			<th scope="row"></th>
			<td>{{Aprendices.document}}</td>
			<td>{{Aprendices.full_name}}</td>
            <td>{{Aprendices.email}}</td>
            <td>{{Aprendices.course}}</td>
			<td><button routerLink="/updateaprendiz/{{Aprendices.id}}">Editar</button></td>
			<td><button (click)="borrar(Aprendices.id)">Eliminar</button></td>
		</tr>
	</tbody>
</table>
